<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script defer src="../../../socket.io/socket.io.js"></script>
  <script defer type="module" src="../../scripts/main-client-script.js"></script>
  <title>About</title>
</head>

<body class="noticeboard">
    <div class="bigcontainer">

        <header id="header">
            <%- include('../partials/header') %>
        </header>

        <div class="notasbigcontainer bgWhite smallifycont">
        <section id="about" class="pad5percent">
            <h1 id="about-heading" class="headings">ABOUT</h1>
            <p>

            <p id="para1">Some might consider browser-based games to be a relic of the past. Over the last decade, computing technology
            has advanced rapidly, which meant that personal computers could handle high performance games. Hence, many people
            have turned  to games produced by big game studios or even indie developers through platforms like Steam, which
            utilise specialized game engines for graphics rendering in order to produce much higher quality games compared to
            browser-based ones. Even for casual gamers, the booming mobile game market has them covered with many high
            quality mobile games that prove to be more popular than most browser-based games.</p>
 
            <p id="para2">Despite this, there have still been successful browser games that have survived or emerged over the past
            decade, such as Cookie Clicker and Agar.io. We believe that the core of what made these games successful was
            addictive simplicity. Players did not need to learn any complicated rules in order to dive right into the core
            gameplay mechanics, be it clicking cookies in Cookie Clicker or eating other cells in Agar.io. The core gameplay
            mechanics were simple, fun and engaging.</p>
 
            <p id="para3">Hence, we would like to build our own browser-based game with interesting gameplay mechanics, while
            incorporating embedded hardware elements into it, in order to bring something new to the table of browser
            games.</p>


        </section>
    
        </div>



</body>
</html>
