<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <script defer src="../../../socket.io/socket.io.js"></script>
    <script defer type="module" src="../../scripts/main-client-script.js"></script>
    <!-- <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <title>Remote Playground</title>
</head>

<body>

        <header id="header">
            <%- include('../partials/header') %>
        </header>
    <div class="big-container">

    <div class="queue-container"></div>

    <div class="statuses-container">
        <section id="leader">
            <div id="leader-box"> <p id="leader-heading"><b>LeaderBoard: </b></p></div>
        </section>
    </div>        

    <div class="playground-container">
        <div class="play-box"><img id="videoStream" src="../../images/maintenance_notxt.png" height=100px width=100px></div>
        <!-- <div id="play-box"><img id="videoStream" src="/stream.mjpg"></div> /* Comment if no RPI */ -->
    </div>
    
    <div class="play-buttons">                  
        <input id="simon-startquit" type="button" class="button" value="Start">
        <input id="gpio0" type="button" class="button leds" value="LED0">
        <input id="gpio1" type="button" class="button leds" value="LED1">
        <input id="gpio2" type="button" class="button leds" value="LED2">
        <input id="gpio3" type="button" class="button leds" value="LED3">               
    </div>        

    <div class="chat-container">
         <div id="chat-text-box">
            <div id="text-box">
                <ul>
                </ul>
            </div>
            <div id="chat-input-con">
            <input id="chat-input" placeholder="Type to Chat">
            <input id="chatbutton" type="button" class="button" value="Send">
            </div>
        </div>
    </div>

    </div>
</body>
</html>

