<!DOCTYPE html>
<html lang="en">
<id>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script src="/socket.io/socket.io.js"></script>
  <script defer src="/main.js"></script>
  <title>Leaderboard</title>
</head>

<body class="bgRed">
    <div class="bigcontainer">       
        <header id="header">
            <%- include('../partials/header') %>
        </header>

        <div class="notasbigcontainer bgGreen">

        <section id="leaderboard" class="pad5percent">
            <h1>LEADERBOARDS</h1>                  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id erat cursus nisl luctus feugiat vel sit amet sem. Nunc commodo fermentum dictum. Aliquam erat volutpat. Nulla facilisi. Vivamus eget metus sit amet lacus pharetra feugiat a et velit. Donec consequat non ligula ac sagittis. Sed gravida risus non sem imperdiet, in aliquet nisi vehicula. Curabitur sit amet sollicitudin eros, quis rhoncus arcu.

            Curabitur hendrerit malesuada velit, blandit efficitur turpis. Ut nisi purus, dignissim quis nisi eget, porttitor gravida ante. Vestibulum efficitur vestibulum felis, ac suscipit ligula tempus non. Integer viverra eros et nisi fermentum sollicitudin. Donec quis ornare est. Proin dignissim tellus at efficitur pulvinar. Ut scelerisque nisi a tempus placerat. Quisque dictum facilisis ante id consequat. Duis id nunc sit amet ligula sagittis venenatis. Sed dignissim augue eu consectetur scelerisque.</p>
        </section>

        </div>
    </div>
</body>
</html>