<!DOCTYPE html>
<html lang="en">
<id>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script src="/socket.io/socket.io.js"></script>
  <script defer src="/main.js"></script>
  <title><%= userid %>'s Profile</title>
</head>

<body>
    <div class="bigcontainer">
        
        <header id="header">
            <%- include('../partials/header') %>
        </header>

        <div class="notasbigcontainer bgOrange">
        <section id="profile" class="pad5percent">
            <h1><%= userid %></h1>           
        </section>
        </div>



</body>
</html>