<!DOCTYPE html>
<html lang="en">
<id>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script src="/socket.io/socket.io.js"></script>
  <script defer src="/main.js"></script>
  <title>Sign-Up</title>
</head>
  
<body class="bgOrange">
    <div class="bigcontainer">
      

        <header id="header">
          <%- include('../partials/header') %>
        </header>

        <div class="notasbigcontainer bgBlue smallifycont">
          <section id="signup"> 
            <h1 class="textshdw">REGISTER</h1>
            <p> Fill up the following to create your RemotePlayground account.</p>
            <div id="signupcontainer">
            <form action="/signup" method="post">
              <div class="form-entry">
              <label class="nav-link textshdw whiten">Email: </label>
              <input type="email" name="email" class="inputs" required>
              </div>
              <br>
              <div class="form-entry">
              <label class="nav-link textshdw whiten">Username: </label>
              <input type="text" name="username" class="inputs" required>
              </div>
              <br>
              <div class="form-entry">
              <label class="nav-link textshdw whiten">Password: </label>
              <input type="password" name="password" class="inputs" required>
              </div>
              <br>
              <div class="form-entry">
              <label class="nav-link textshdw whiten">Confirm Password: </label>
              <input type="password" name="confirm_password" class="inputs" required>
              </div>
              <br>
              <div class="form-entry">
              <input type="submit" value="SUBMIT" class="button buttonpad">
              </div>
              </div>
            </form>
          </section>
        </div>

  </div>
</body>
</html>