body{
    position: fixed; 
    top: 0px; left: 0px; right: 0px; bottom: 0px; 
    background: #111;   
    font-family: 'Nunito';
}

.videoStream {
    position: fixed; 
    top: 0px; left: 0px; right: 0px; 
    height: 100%; 
    width: calc(100% + 2px); 
    object-fit: contain;
}


input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

