:root {
    --coollime: #c9e265;
    --coralgreen: #57ff57;
    --coralblue: #5757ff;
    --coralorange: #ffab57;
    --coralred: #ff5757;
    --darkmodeblue: #152349;
    --darkbrown: #492b15;
    --darkmodeblue2: #0b1328;
    --darkmodeblue3: #868b97; 
    --coralred2: #b30000;
    --darkhue1: #414141;
    --darkhue2: #242424;
    --white2: #d9d9d9;
    --white3: #b3b3b3;
}

body {
    padding: 0;
    margin: 0;
    background-color: #242424;
}

h1 {
    color: whitesmoke;
    font-size: 32px; 
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

p {
    font-size: 22px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

li {
    list-style-type: none;
    font-family: monospace;
    font-weight: bold;
}

.dispnone {
    display: none;
}

.button {
    border-radius: 5px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button.red {
    background-color: var(--coralred);
}

.button.orange {
    background-color: var(--coralorange);
}

.button.green {
    background-color: var(--coralgreen);
}

.button.blue {
    background-color: var(--coralblue);
}

.button.purple {
    background-color: darkslateblue;
}

.button.grey {
    background-color: grey;
}

/* .button.active {
    top: 4px;
} */

/* .button.red:active {box-shadow: 0 0 #ff4c4b; background-color: #ff4c4b;} */
/* .button.green:active {box-shadow: 0 0 #87a86f; background-color: #87a86f;} */

    .btn {
        position: relative;
        border: 0;
        padding: 15px 25px;
        display: inline-block;
        text-align: center;
        color: white;
    }
    /* .btn:active {
        top: 4px;	
    } */

    .rounded {
        border-radius: 10px;
    }


.btn-3d {
    position: relative;
    display: inline-block;
    font-size: 22px;
    padding: 20px 60px;
    color: white;
    margin: 20px 10px 10px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    cursor: pointer;
}
.btn-3d.red:hover    {background-color: #e74c3c;}
.btn-3d.blue:hover   {background-color: #699DD1;}
.btn-3d.green:hover  {background-color: #80C49D;}
.btn-3d.purple:hover {background-color: #D19ECB;}
.btn-3d.yellow:hover {background-color: #F0D264;}
.btn-3d.cyan:hover   {background-color: #82D1E3;}

.btn-3d:active {
	top: 9px;
}

.btn-3d.red {
	background-color: #e74c3c;
	box-shadow: 0 0 0 1px #c63702 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 #C24032,
        0 8px 0 1px rgba(0,0,0,0.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.red:active {
	box-shadow: 0 0 0 1px #c63702 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.blue {
	background-color: #6DA2D9;
	box-shadow: 0 0 0 1px #6698cb inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 8px 0 0 rgba(110, 164, 219, .7),
				0 8px 0 1px rgba(0,0,0,.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.blue:active {
	box-shadow: 0 0 0 1px #6191C2 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.green {
	background-color: #82c8a0;
	box-shadow: 0 0 0 1px #82c8a0 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 8px 0 0 rgba(126, 194, 155, .7),
				0 8px 0 1px rgba(0,0,0,.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.green:active {
	box-shadow: 0 0 0 1px #82c8a0 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.purple {
	background-color: #cb99c5;
	box-shadow: 0 0 0 1px #cb99c5 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 8px 0 0 rgba(189, 142, 183, .7),
				0 8px 0 1px rgba(0,0,0,.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.purple:active {
	box-shadow: 0 0 0 1px #cb99c5 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.cyan {
	background-color: #7fccde;
	box-shadow: 0 0 0 1px #7fccde inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 8px 0 0 rgba(102, 164, 178, .6),
				0 8px 0 1px rgba(0,0,0,.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.cyan:active {
	box-shadow: 0 0 0 1px #7fccde inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.yellow {
	background-color: #F0D264;
	box-shadow: 0 0 0 1px #F0D264 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 8px 0 0 rgba(196, 172, 83, .7),
				0 8px 0 1px rgba(0,0,0,.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.yellow:active {
	box-shadow: 0 0 0 1px #F0D264 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}


/*IDs & Classes in top-down ordering*/

/*                  HEADER STYLING              */

#header {
    background: var(--darkmodeblue);
}

#header-container {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

#online-box {
    display: flex;
    align-items: center;
    background-color: var(--coralred);
    padding-right: 30px;
    padding-left: 10px;
    border-bottom: solid var(--coralred2) 4px;
    border-radius: 25px;
}

#online {
    font-size: 18px;
}
#userpass {
    display: flex;
    margin-right: 10px;
    align-items: center;
}

#loggedpass {
    margin-right: 10px;
    display:flex;
    align-items: center;
}

#nav-bar {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--darkmodeblue2);
    justify-content: space-evenly;
    overflow: hidden;
}

    #nav-bar a:hover {
        color: white;
    }

.nav-link {
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    color: var(--white3);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.label {
    color: var(--coralred);
    padding-left: 10px;
    padding-right: 10px;
}

/*                  HEADER STYLING              */

/* //////////////////////////////////////////////// */
/* //////////////////////////////////////////////// */
/* //////////////////////////////////////////////// */
/* //////////////////////////////////////////////// */
/* //////////////////////////////////////////////// */

/*                  CONTENT STYLING              */

.big-container1 {
    display: grid;
    width: 100%;
    max-height: 84vh;
     grid-template-columns: 10fr 2fr;
     grid-template-rows: 1fr 8fr 1fr; 
     gap: 5px;
     grid-template-areas: 
     "queue status"
     "playground chat"
     "playbtn chat";

     /* grid-template-areas: 
     "queue queue"
     "playground playground"
     "playbtn playbtn"; */
} 

.big-container2 {
    display: grid;
    width: 100%;
    max-height: 84vh;
    grid-template-rows: 1fr 8fr 1fr; 
    row-gap: 5px;
    grid-template-areas: 
    "queue"
    "playground"
    "playbtn";
}

.notasbigcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 3%; 
    box-shadow: 10px 15px black;
    border: solid 2px whitesmoke;
    border-radius: 10px;
    
}

.queue-container {
    background-color: var(--coralblue);
    /* background-image: url('images/queue_graphic.png');
    background-repeat: no-repeat;
    background-size: auto; */
    grid-area: queue;
    border: solid 2px whitesmoke;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.queue-box {
    height: 100px;
    width: 100px;
    border: solid 2px whitesmoke;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.queue-box.bgOrange {
    background-image: url('images/redarrow.png');
    background-size: cover;
}

.queue-box.bgGreen {
    background-image: url('images/controller.png');
    background-size: cover;
}



.statuses-container {
    background-color: var(--coralgreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-area: status;
    border: solid 2px whitesmoke;
    border-radius: 10px;
}

.statuses-container.dispnone {
    display: none;
}

.leader-text {
    font-size: 16px;
    font-family: 'Courier New', monospace;
    text-align: center;
    text-decoration: underline;
}

.playground-container {
    grid-area: playground;
    background-color: var(--coralred);
    border: solid 2px whitesmoke;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

.play-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
}

.idle-box {
    background-color: mediumpurple;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 90%;
    margin-top: 18px;
    border: solid 2px whitesmoke;
    border-radius: 10px;
    position: relative;
}

.idlebtn-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.play-buttons {
    background-color: var(--coralorange);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: playbtn;
    border: solid 2px whitesmoke;
    border-radius: 10px;
}

.chat-container {
    height: 100%;
    display: flex;
    justify-content: center;
    grid-area: chat;
    border: solid 2px whitesmoke;
    border-radius: 10px;
}

.chat-container.dispnone {
    display: none;
}

#chat-header {
    font-size: 18px;
}

#chat-text-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--white3);
}

#text-box {
    overflow-y: scroll;
    background-color: var(--white2);
    height: 90%;
    word-wrap: break-word;
    word-break: break-all;
}

#chat-input-con {
    display: flex;
}
#chat-input {
    width: 74%;
}

/* GENERAL CLASSES */

.smallifycont {
    width: 40%;
    margin-left: 28%;
}

.textshdw {
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.bgRed {
    background-color: var(--coralred);
}

.bgBlue {
    background-color: var(--coralblue);
}

.bgGreen {
    background-color: var(--coralgreen);
}

.bgOrange {
    background-color: var(--coralorange);
}

.textctr {
    text-align: center;
}

.textR {
    text-align: right;
}

.textL {
    text-align: left;
}

.content-centre {
    display: flex;
    align-items: center;
}

.pad5percent {
    margin-left: 2%;
    margin-right: 2%;
}

.inputs {
    height: 30px;
    width: 250px;
    font-size: 12px;
}

.buttonpad {
    margin-right: 10px;
}

.credtext {
    color: var(--coralred);
}

.whiten {
    color: white;
}

/* SIGN UP PAGE*/
#signup {
    margin-left: 5%;
}

#signupcontainer {
    display: flex;
}
  
.form-entry {
    width: 200px;
}

/* PROFILE PAGE */

#profilecontainer1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Profile game history */
table {
    border: 1px solid black;
    margin: 10px;
}

th, td {
    border: 1px solid black;
    padding: 15px;
}



/* Media Query*/

@media (min-width: 768px) {
    #statuses-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* #online-box {    
        margin-top: 30px;
        margin-right: 30px;
        padding-left: 5px;
        padding-right: 100px;
    }

    #online-count {
        order: 3;
    } */
}

@media (min-width: 1280px) {
    #play-chat-container {
        display: flex;
    }

    #chat-container {
        width: 100%;
    }
}




/* #para1 { */
/*     color: purple; */
/* } */
