:root {
    --coollime: #c9e265;
    --coralgreen: #57ff57;
    --coralblue: #5757ff;
    --coralorange: #ffab57;
    --coralred: #ff5757;
    --darkmodeblue: #152349;
    --darkbrown: #492b15;
    --darkmodeblue2: #0b1328;
    --darkmodeblue3: #868b97; 
    --coralred2: #b30000;
    --darkhue1: #414141;
    --darkhue2: #242424;
    --white2: #d9d9d9;
    --white3: #b3b3b3;
}

body {
    padding: 0;
    margin: 0;
    background-color: #242424;
}

h1 {
    color: black;
    font-size: 32px; 
    font-family: 'Courier New', monospace;
    text-align: center;
}

p {
    font-size: 22px;
    color:black;
    font-family: 'Calibri';
}

label {
    font-family: 'Calibri';
    font-weight: bold;
}


li {
    list-style-type: none;
    font-family: monospace;
    font-weight: bold;
}

.dispnone {
    display: none;
}

.button {
    border-radius: 5px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button.red {
    background-color: var(--coralred);
}

.button.orange {
    background-color: var(--coralorange);
}

.button.green {
    background-color: var(--coralgreen);
}

.button.blue {
    background-color: var(--coralblue);
}

.button.purple {
    background-color: darkslateblue;
}

.button.grey {
    background-color: grey;
}

.button.gold {
    background-color: gold;
}

/* .button.active {
    top: 4px;
} */

/* .button.red:active {box-shadow: 0 0 #ff4c4b; background-color: #ff4c4b;} */
/* .button.green:active {box-shadow: 0 0 #87a86f; background-color: #87a86f;} */

    .btn {
        position: relative;
        border: 0;
        padding: 15px 25px;
        display: inline-block;
        text-align: center;
        color: white;
    }
    /* .btn:active {
        top: 4px;	
    } */

    .rounded {
        border-radius: 10px;
    }


.btn-3d {
    position: relative;
    display: inline-block;
    font-size: 22px;
    padding: 20px 60px;
    color: white;
    margin: 20px 10px 10px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    cursor: pointer;
}
.btn-3d.red:hover    {background-color: #e74c3c;}
.btn-3d.blue:hover   {background-color: #699DD1;}
.btn-3d.green:hover  {background-color: #80C49D;}
.btn-3d.purple:hover {background-color: #D19ECB;}
.btn-3d.yellow:hover {background-color: #F0D264;}
.btn-3d.cyan:hover   {background-color: #82D1E3;}

/*active_led class only when keyboard shortcut pressed down */
/* takes into account both keyboard press and mouse click actions
 * to toggle CSS states of the 3d buttons */
.btn-3d:active,
.active_led.btn-3d {
	top: 9px;
}

.btn-3d.red {
	background-color: #e74c3c;
	box-shadow: 0 0 0 1px #c63702 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 #C24032,
        0 8px 0 1px rgba(0,0,0,0.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.red:active,  
.active_led.btn-3d.red {
	box-shadow: 0 0 0 1px #c63702 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.blue {
	background-color: #6DA2D9;
	box-shadow: 0 0 0 1px #6698cb inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 8px 0 0 rgba(110, 164, 219, .7),
				0 8px 0 1px rgba(0,0,0,.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.blue:active,
.active_led.btn-3d.blue {
	box-shadow: 0 0 0 1px #6191C2 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.green {
	background-color: #82c8a0;
	box-shadow: 0 0 0 1px #82c8a0 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 8px 0 0 rgba(126, 194, 155, .7),
				0 8px 0 1px rgba(0,0,0,.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.green:active,
.active_led.btn-3d.green{
	box-shadow: 0 0 0 1px #82c8a0 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.purple {
	background-color: #cb99c5;
	box-shadow: 0 0 0 1px #cb99c5 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 8px 0 0 rgba(189, 142, 183, .7),
				0 8px 0 1px rgba(0,0,0,.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.purple:active,
.active_led.btn-3d.purple{
	box-shadow: 0 0 0 1px #cb99c5 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.cyan {
	background-color: #7fccde;
	box-shadow: 0 0 0 1px #7fccde inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 8px 0 0 rgba(102, 164, 178, .6),
				0 8px 0 1px rgba(0,0,0,.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.cyan:active,
.active_led.btn-3d.cyan{
	box-shadow: 0 0 0 1px #7fccde inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.yellow {
	background-color: #F0D264;
	box-shadow: 0 0 0 1px #F0D264 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 8px 0 0 rgba(196, 172, 83, .7),
				0 8px 0 1px rgba(0,0,0,.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.yellow:active,
.active_led.btn-3d.yellow {
	box-shadow: 0 0 0 1px #F0D264 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}


/*IDs & Classes in top-down ordering*/

/*                  HEADER STYLING              */

#header {
    background: var(--darkmodeblue);
}

#header-container {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

#online-box {
    display: flex;
    align-items: center;
    background-color: var(--coralred);
    padding-right: 30px;
    padding-left: 10px;
    border-bottom: solid var(--coralred2) 4px;
    border-radius: 25px;
}

#online {
    font-size: 18px;
}
#userpass {
    display: flex;
    margin-right: 10px;
    align-items: center;
}

#loggedpass {
    margin-right: 10px;
    display:flex;
    align-items: center;
}

#nav-bar {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--darkmodeblue2);
    justify-content: space-evenly;
    overflow: hidden;
    z-index: 2;
}

    #nav-bar a:hover {
        color: white;
    }

.nav-link {
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    color: var(--white3);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.label {
    color: var(--coralred);
    padding-left: 10px;
    padding-right: 10px;
}

.headings {
    color: red;
    text-decoration: underline skyblue;
}
/*                  HEADER STYLING              */

/* //////////////////////////////////////////////// */
/* //////////////////////////////////////////////// */
/* //////////////////////////////////////////////// */
/* //////////////////////////////////////////////// */
/* //////////////////////////////////////////////// */

/*                  CONTENT STYLING              */

.big-container1 {
    display: grid;
    width: 100%;
    max-height: 84vh;
     grid-template-columns: 10fr 2fr;
     grid-template-rows: 1fr 8fr 1fr; 
     gap: 5px;
     grid-template-areas: 
     "queue status"
     "playground chat"
     "playbtn chat";
} 

.big-container2 {
    display: grid;
    width: 100%;
    max-height: 84vh;
    grid-template-rows: 1fr 8fr 1fr; 
    row-gap: 5px;
    grid-template-areas: 
    "queue"
    "playground"
    "playbtn";
}

.notasbigcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-width: 500px;
    margin: 3%; 
    box-shadow: 10px 15px black;
    border: solid 3px skyblue;
    border-radius: 10px;
    position: relative;
}

.queue-container {
    background-color: var(--coralblue);
    /* background-image: url('images/queue_graphic.png');
    background-repeat: no-repeat;
    background-size: auto; */
    grid-area: queue;
    border: solid 2px whitesmoke;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.queue-box {
    height: 100px;
    width: 100px;
    border: solid 2px whitesmoke;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.queue-box.bgOrange {
    background-image: url('images/redarrow.png');
    background-size: cover;
}

.queue-box.bgGreen {
    background-image: url('images/controller.png');
    background-size: cover;
}



.statuses-container {
    background-color: var(--coralgreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-area: status;
    border: solid 2px whitesmoke;
    border-radius: 10px;
}

.statuses-container.dispnone {
    display: none;
}

.leader-text {
    font-size: 16px;
    font-family: 'Courier New', monospace;
    text-align: center;
}

.playground-container {
    grid-area: playground;
    background-color: var(--coralred);
    border: solid 2px whitesmoke;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 55vh;
}

.play-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    min-width: 350px;
    height: 90%;
}

#videoStream {
    width: 100%;
    height: 100%;
    margin-left: 10%;
    object-fit: cover;
    object-position: 0;
    border: solid 2px whitesmoke;
    border-radius: 10px;

}

.idle-box {
    background-color: mediumpurple;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    min-width: 500px;
    height: 90%;
    min-height: 300px;
    margin-left: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: solid 2px whitesmoke;
    border-radius: 10px;
}

.idle-box::-webkit-scrollbar {
    width: 12px;
}
.idle-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--white3);
    border-radius: 10px;
}

.idle-box::-webkit-scrollbar-thumb {
    background-color: darkslateblue;
    border-radius: 10px;
    border: 2px solid mediumpurple;
}

.idlebtn-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.progbar-container {
    display: flex;
    width: 50%;
    background-color: grey;
}

.resource {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    display: block;
    width: 1%;
    height: 30px;
    background-color: var(--coralgreen);
}

.play-buttons {
    background-color: var(--coralorange);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: playbtn;
    border: solid 2px whitesmoke;
    border-radius: 10px;
}

.chat-container {
    height: 100%;
    display: flex;
    justify-content: center;
    grid-area: chat;
    border: solid 2px whitesmoke;
    border-radius: 10px;
}

.chat-container.dispnone {
    display: none;
}

#chat-header {
    font-size: 18px;
}

#chat-text-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--white3);
}

#text-box {
    overflow-y: scroll;
    background-color: var(--white2);
    height: 90%;
    word-wrap: break-word;
    word-break: break-all;
}

#text-box::-webkit-scrollbar {
    width: 12px;
}

#text-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--white3);
    border-radius: 10px;
}

#text-box::-webkit-scrollbar-thumb {
    background-color: grey;
    box-shadow: inset 0 0 6px var(--white3);
    border-radius: 10px;
}

#chat-input-con {
    display: flex;
}
#chat-input {
    width: 74%;
    height: 90%;
}

/* ///////////////////////////////
////////////MODAL BOX/////////////
////////////////////////////////// */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,.4);
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 4px solid skyblue;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 2;
}

.close, .closeprofile {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.closeprofile:hover,
.close:focus,
.closeprofile:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* GENERAL CLASSES */

.smallifycont {
    width: 40%;
    margin-left: 28%;
}

.smallifycont2 {
    margin-top: 10%;
    width: 70%;
    height: 30%;
}

.textshdw {
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
.white {
    color: whitesmoke;
}

.bgRed {
    background-color: var(--coralred);
}

.bgBlue {
    background-color: var(--coralblue);
}

.bgGreen {
    background-color: var(--coralgreen);
}

.bgOrange {
    background-color: var(--coralorange);
}

.bgBrown {
    background-color: peru;
}

.bgWhite {
    background-color: whitesmoke;
}

.textctr {
    text-align: center;
}

.textR {
    text-align: right;
}

.textL {
    text-align: left;
}

.content-centre {
    display: flex;
    align-items: center;
}

.pad5percent {
    margin-left: 2%;
    margin-right: 2%;
}

.inputs {
    height: 30px;
    width: 250px;
    font-size: 12px;
}

.buttonpad {
    margin-right: 10px;
}

.credtext {
    color: var(--coralred);
}

.whiten {
    color: white;
}

.opacify {
    opacity: 0.4;
}

/* SIGN UP PAGE*/
#signup {
    margin-left: 5%;
}

#signupcontainer {
    display: flex;
}
  
.form-entry {
    width: 200px;
}

/* PROFILE PAGE */

#profilecontainer1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profile-pic-main {
    display: flex;
    flex-direction: column;
}

#changedp {
    align-self: center;
}

.dp-container {
    display: flex;
}

.profileimg {
    position: relative;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  [type=radio] + img {
    cursor: pointer;
  }
  
  [type=radio]:checked + img {
    border: 2px solid #f00;
    border-radius: 50%;
  }

.profileimg:hover {
    height: 150px;
    width: 150px;
}

.achievement-container {
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid 4px var(--coralred);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10%;
}

.row {
    display: flex;
    justify-content: space-between;
}

.achievement-border {
    display: flex;
    border-radius: 50%;
    border: 4px solid skyblue;
    height: 50px;
    width: 50px;
}

.achievement-tooltip {
    position: relative;
}

.achievement-tooltip:before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:100%;
    margin-left: 15px;
    width:150px;
    padding:5px;
    border-radius: 10px;
    border: solid 4px #414141;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    z-index: 3;
    opacity: 0;
    transition: .3s opacity;
}

.achievement-tooltip:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;

    
    border: 7.5px solid black;
    border-color: transparent #414141 transparent transparent;
    opacity: 0;
    transition: .3s opacity;
}

.achievement-tooltip:hover:before, .achievement-tooltip:hover:after {
    opacity: 1;
}


.recenter1 {
    position: relative;
    right: 19px;
    bottom: 18px;
}

.recenter2 {
    position: relative;
    right: 8px;
    bottom: 8px;
}

.greyout {
    border: 4px solid grey;
    background-color: grey;
}

.greyscale {
    filter: grayscale();
}

/* Profile game history */
table {
    border: 1px solid black;
    margin: 10px;
}

th, td {
    border: 1px solid black;
    padding: 15px;
}



/* Media Query*/

@media (min-width: 768px) {
    #statuses-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1280px) {
    #play-chat-container {
        display: flex;
    }

    #chat-container {
        width: 100%;
    }
}

