<div id="header-container"> <a href="/"> <img id="header-img" src="../../images/rmt_plygrd_logo_no_txt.png" height=80px width=80px> </a>

    <div id="online-box"><p id="online" class="textshdw white"><b>Online: 1</b></p></div>
    <div class ="minibtn-container">
    <input type="button" id="modalbtn" value="?" style="background-color: yellow;">
    <input type="button" id="bgmusicbtn" value="&spades;" style="background-color: blueviolet;">  
    </div>

    <div id="infomodal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p class="headings">How do I use RemotePlayground?</p>

            <iframe width="640" height="480" src="https://www.youtube-nocookie.com/embed/dgIFQOjQqeo"></iframe>

        </div>
    </div>
   

    <% if (!auth) { %>   
    <div id="form-container">
    <form action="/" method="POST" id="form">
        
    <div id="userpass">        
        <label for="user" id="user-label" class="nav-link label textshdw">EMAIL:</label>
        <input id="user" type="email" name="email" class="inputs" required>
        <label for="password" id="password-label" class="nav-link label textshdw">PASSWORD:</label>
        <input id="password" type="password" name="password" class="inputs" required>
        <label class="nav-link label"> <% if (messages.error) { %>
            <%= messages.error %>
        <% } %> </label>       
    
    <input type="submit" id="loginbutton" value="LOGIN" class="button red textshdw buttonpad">
    </div>
</form>
</div>
<% } else { %>   
     <div class="content-centre">
    <form action="/logout?_method=DELETE" method="POST">
        <div id="loggedpass">  
    <p class="nav-link credtext textshdw">Welcome, </p><div id="user" class="nav-link credtext textshdw"><%= userid %></div><p class="nav-link credtext textshdw">!</p>
    <img id="profile-pic-header" src="../../images/avatar<%= dpindex %>.PNG" height=80px width=80px style="border-radius: 50%;"> 
    <input type="submit" id="logoutbutton" value="LOGOUT" class="button red textshdw buttonpad">
        </div>
    </form>
    </div>
    
<% } %>

</div>

<nav id="nav-bar">
<a href="/about" class="nav-link textshdw">ABOUT</a>
<a href="/" class="nav-link textshdw">PLAYGROUND</a>
<a href="/leaderboard" class="nav-link textshdw">LEADERBOARDS</a>
<% if (!auth) { %>
<a id="signuplink" href="/signup" class="nav-link textshdw">SIGN UP</a>
<% } else { %>
<a id="profilelink" href="/profile" class="nav-link textshdw">PROFILE</a>
<% } %>
</nav>
