<div id="header-container"> <a href="/"> <img id="header-img" src="../../images/rmt_plygrd_logo_2.png" height=170px width=170px> </a>
    
    <% if (!auth) { %>   
    <form action="/profile" method="POST" id="form">
        
    <div id="userpass">        
        <label for="user" id="user-label" class="nav-link label">EMAIL:</label>
        <input id="user" type="email" name="email" class="inputs" placeholder="example@abc.com" required>
        <label for="password" id="password-label" class="nav-link label">PASSWORD:</label>
        <input id="password" type="password" name="password" class="inputs" required>
        <label class="nav-link label"> <% if (messages.error) { %>
            <%= messages.error %>
        <% } %> </label>       
    </div>
    <input type="submit" id="loginbutton" value="LOGIN" class="button buttonpad">
     
</form>
<% } else { %>   
     <div class="content-centre">
    <form action="/logout?_method=DELETE" method="POST">
        <div id="loggedpass">  
    <p class="nav-link label">Welcome, </p><div id="user" class="nav-link label"><%= userid %></div><p class="nav-link label">!</p>
    <input type="submit" id="logoutbutton" value="LOGOUT" class="button buttonpad">
        </div>
    </form>
    </div>
    
<% } %>

</div>

<nav id="nav-bar">
<a href="/#about" class="nav-link">ABOUT</a>
<a href="/#playground" class="nav-link">PLAYGROUND</a>
<a href="/#leader" class="nav-link">LEADERBOARDS</a>
<a href="/#contact" class="nav-link">CONTACT US</a>
<% if (!auth) { %>
<a id="signuplink" href="/signup" class="nav-link">SIGN UP</a>
<% } else { %>
<a id="profilelink" href="/profile" class="nav-link">PROFILE</a>
<% } %>
</nav>
